.tooltip {
  border-radius: var(--gds-sys-radius-xs);
  padding: 10px;
  background-color: var(--gds-sys-color-layer-primary-extreme);
  color: var(--gds-sys-color-text-on-dark);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;

  svg {
    fill: var(--gds-sys-color-layer-primary-extreme);
  }
}
