.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px 10px;
  border-radius: var(--gds-sys-radius-xl);
  padding: 20px;
}

.iconWrapper {
  color: var(--gds-sys-color-icon-default);
  display: flex;
  gap: 4px;
  align-items: center;

  span {
    font-size: 0.7rem;
  }
}

.colorContainer {
  display: grid;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  border-radius: var(--gds-sys-radius-xl);
}
