.switchRoot {
  all: unset;
  width: 32px;
  height: 20px;
  background-color: var(--gds-sys-color-icon-dim);
  border-radius: 9999px;
  transition: background-color 100ms;
  position: relative;

  &:hover {
    background-color: var(--gds-sys-color-icon-default);
    cursor: pointer;
  }

  &:focus-visible {
    outline: 2px solid var(--gds-sys-color-icon-interactive-focused);
    outline-offset: 2px;
  }

  &[data-disabled] {
    cursor: not-allowed;
    background-color: var(--gds-sys-color-icon-interactive-disabled);
  }

  &[data-state="checked"] {
    background-color: var(--gds-sys-color-icon-interactive-active);
  }

  &[data-state="checked"][data-disabled] {
    cursor: not-allowed;
    background-color: var(--gds-sys-color-icon-interactive-disabled);
  }

  &[data-state="checked"]:hover {
    background-color: var(--gds-sys-color-icon-interactive-active-hover);
  }
}

.switchThumb {
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--gds-sys-color-icon-inverted);
  border-radius: 50%;
  transition: transform 100ms;
  transform: translateX(3px);
  will-change: transform;

  &[data-state="checked"] {
    transform: translateX(15px);
  }
}
