.switchRoot {
  all: unset;
  width: 38px;
  height: 24px;
  min-width: 38px;
  min-height: 24px;
  background-color: var(--gds-sys-color-icon-dim);
  border-radius: 9999px;
  transition: background-color 100ms;
  position: relative;

  &:hover {
    background-color: var(--gds-sys-color-icon-default);
    cursor: pointer;
  }

  &:focus-visible {
    outline: 2px solid var(--gds-sys-color-icon-interactive-focused);
    outline-offset: 2px;
  }

  &[data-state="checked"] {
    background-color: var(--gds-sys-color-icon-interactive-default);

    &:hover {
      background-color: var(--gds-sys-color-icon-interactive-active-hover);
    }
  }

  &[data-disabled],
  &[data-disabled][data-state="checked"] {
    cursor: not-allowed;
    background-color: var(--gds-sys-color-icon-interactive-disabled);

    &:hover {
      background-color: var(--gds-sys-color-icon-interactive-disabled);
    }
  }
}

.switchThumb {
  display: block;
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  background-color: var(--gds-sys-color-icon-inverted);
  border-radius: 50%;
  transition: transform 200ms ease;
  transform: translateX(2px);
  will-change: transform;

  &[data-state="checked"] {
    transform: translateX(16px);
  }
}
