.typography {
  --gds-text-color: var(--gds-sys-color-text-default);
  color: var(--gds-text-color);
}

.label {
  --gds-label-font: var(--gds-sys-font-default-label-s-semibold);
  --gds-text-gap: var(--gds-sys-space-xs);
  font: var(--gds-label-font);

  /* if has immediate child with disabled or data-disabled attributes */
  &:has(> *[disabled]),
  &:has(> *[data-disabled="true"]) {
    color: var(--gds-sys-color-text-interactive-disabled);
  }
}

.text {
  --gds-text-font: var(--gds-sys-font-default-body-s-regular);
  font: var(--gds-text-font);
}

.heading {
  --gds-heading-font: var(--gds-sys-font-default-title-l-bold);
  font: var(--gds-heading-font);
}
